---
layout: base
title: Hidde's plants
eleventyExcludeFromCollections: true
---

<ul class="plant-list">
{% for plant in collections.all %}
  <li>
    <a href="{{ plant.url }}">
      <img src="/plants/{{ plant.fileSlug }}.jpeg" alt="{{ plant.title }}" />
    </a>
  </li>
{% endfor %}
</ul>
